@charset "UTF-8";

/* Tipical Devices Breakpoint
---------------------------------
Pequenas telas: até 600px
Celular: de 600px até 768px
Tablet: 769px até 992
Desktop: 993px até 1200px
Grandes telas: acima de 1201px
*/

@media screen and (min-width: 768px){
    section#layout {
        width: 45vw;
        height: 65vh;
    }
    section#layout > div#imagem {
        float: left;
        width: 50%;
        height: 100%;
        background-image: url(../images/image-product-desktop.jpg);
    }
    section#layout > div#content {
        float: right;
        width: 50%;
        padding: 20px;
    }
    h1 {
        padding: 20px;
        font-size: 700;
    }
    h2 {
        padding: 20px;
        font-size: 700;
    }
    p {
        padding: 20px;
        font-size: 14px;
    }
}