@charset "UTF-8";

/* Tipical Devices Breakpoint
---------------------------------
Pequenas telas: até 600px
Celular: de 600px até 768px
Tablet: 769px até 992
Desktop: 993px até 1200px
Grandes telas: acima de 1201px
*/

@media screen and (min-width: 768px){
    section#layout {
        width: 39em;
        height: 25em;
    }
    section#layout > div#imagem {
        float: left;
        max-width: 100%;
        height: 100%;
        background-image: url(../images/image-product-desktop.jpg);
    }
    section#layout > div#content {
        width: 50%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
    }
    p {
        font-size: 14px;
    }
}