@charset "UTF-8";


@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fraunces:opsz,wght@9..144,700&display=swap');

:root {
    --primaria1: hsl(158, 36%, 37%);
    --primaria2: hsl(30, 38%, 92%);

    --neutral1: hsl(212, 21%, 14%);
    --neutral2: hsl(228, 12%, 48%);
    --neutral3:hsl(0, 0%, 100%);

    --font1: 'Montserrat', sans-serif;
    --font2: 'Fraunces', serif;
}

* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
body, html {
    background-color: var(--primaria2);
    font-family: var(--font1);
    width: 350px;
    max-width: 400px;
}
main {
    position: relative;
    height: 100vh;
    width: 100vw;
}
section {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    overflow: hidden;

    width: 300px;
    height: 570px;
    background-color: white;
    border-radius: 20px;
}
section > div#imagem {
background: white url(../images/image-product-desktop.jpg) no-repeat;
background-size: cover;
background-position: center;
width: 300px;
height: 245px;
border-radius: 20px 20px 0px 0px;
}
h1 {
    font-family: var(--font1);
    font-weight: 500;
    font-size: 1em;
    color: var(--neutral2);
    padding: 10px;
}

h2 {
    padding: 10px;
    font-family: var(--font2);
}

p {
    color: var(--neutral2);
    padding: 5px;
}

.price {
    color: var(--primaria1);
    font-family: var(--font2);
    font-size: 2em;
}

p s {
    color: black;
    font-size: 11px;
}

.cart {
    background-color: var(--primaria1);

    padding: 5px;
    margin: 20px;
    width: 250px;
    text-align: center;
    border-radius: 10px;

}
.cart > a {
    text-decoration: none;
    color: var(--neutral3);
}

footer{
    padding-top: 20px;
    margin: auto;
    font-family: var(--font2);
    font-size: 11px; 
    color: hsl(228, 45%, 44%);
}
